# put this file into ~/.feed2red/ as feed2red.conf
[DEFAULTS]
redserver=https://the.red.server
user=foo@bar.baz
password=sdhgkasd
channel=feeds

[FEED]
# FeedURL must be the actual URL of a feed, not of a page that has a feed!
feedurl=http://hmpf.grmbl.com/feeds/rss/

[FEED]
feedurl=http://a.b.com/c/d
channel=abc # posted to different channel
# don't use [share] tag for this feed
useshare=N
# don't use bookmark tags (#^) for this feed
usebookmarks=n

[FEED]
feedurl=https://secure.sec/encfeed/atom.xml
# no channel variable, this feed will go to the feeds channel again!
# don't show entry titles
showtitle=N
# expire posts after 7 days (Content Expiration must be enabled in the
# channel's Additional Features settings!)
expiredays=7
